<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Word of the day</title>
        <%- include ('partials/header.ejs') %>
    </head>
    <body>
        <%- include ('partials/nav.ejs') %>
        <main>
            <h2><%= word %></h2>
            <ul>
                <li>en : <%= word %></li>
                <li>fr : <%= fr %></li>
                <li>es : <%= es %></li>
                <li>it : <%= it %></li>
                <li>pt : <%= pt %></li>
                <li>jp : <%= jp %></li>
            </ul>
        </main>
        <footer><a href="https://github.com/paulgreg/word-of-the-day-server">source code</a></footer>
    </body>
</html>
