<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Words starting with <%= letter %></title>
        <%- include ('partials/header.ejs') %>
    </head>
    <body>
        <%- include ('partials/nav.ejs') %>
        <main>
            <h2>Words starting with <%= letter.toLowerCase() %></h2>
            <ul>
                <% words.forEach(({w, word}) => { %>
                <li><a href="<%= rootURL %>word/<%= w %>"><%= word %></a></li>
                <% }); %>
            </ul>
        </main>
        <footer><a href="<%= rootURL %>">back to home</a></footer>
    </body>
</html>
