<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Word of the day : <%= word %></title>
        <link rel="stylesheet" href="../css/simple.css" />
        <link rel="icon" href="../book.svg" />
        <%- include ('partials/header.ejs') %>
    </head>

    <body>
        <h1><a href="../">Word of the day</a> : <%= word %></h1>

        <ul>
            <% results.forEach((result)=> { %>
            <li><%= result.lang %> : <%= result.word %></li>
            <% }) %>
        </ul>
        <footer><a href="../">back to home</a></footer>
    </body>
</html>
